.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(179, 57, 57);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

h1{
color: blueviolet;
}

p{
  color: red;
  font-size: xx-large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
